<div class='container mt-5 mb-5', id='edit_lounge'>
  <div class='row justify-content-center'>
    <div class='col-6'>
      <h3 class='mt-3 mb-3'>New membership</h3>

      <%= render "form", membership: @membership %>
      <%= link_to "Back to memberships", lounge_memberships_path(@lounge) %>
    </div>
  </div>
</div>