<div class='container mt-5 mb-5', id='edit_lounge'>
  <div class='row'>
    <div class='col-12'>
      <%= render 'shared/current_user_lounge', locals: { current_user_lounge: @current_user_lounge } %>
    </div>
  </div>
</div>