<div class="hero-section">
  <div class="container pt-5">
    <h1>Welcome to Herf</h1>
    <p class="animate__animated animate__fadeInUp">An event notification service, built specifically for the cigar community.</p>
  </div>
</div>

<div class="container pt-5">
  <div class="row content">
    <div class="col-lg-6">
      <h2>Herf:</h2>
      <h3>A herf is a gathering of BOTL and SOTL to relax, unwind and smoke premium cigars.</h3>
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0">
      <p>
        Herf is an event marketing and management service, built specifically for the cigar industry.
        Combining technology with the beloved cigar industry, lounges can easily spread the word of up coming events directly to their members email and cell phone.
        In addition to events, Herf allows for the same notifications for special offers such as sales and 'Buy one, get one' deals.
      </p>
      <p class="fst-italic">
        "A cigar is as good as memories that you have when you smoked it." -Raul Julia
      </p>
    </div>
  </div>
</div>

<div id="services" class="container pt-5 services">
  <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bi bi-pencil-square"></i>
          <h4>Build Your Lounge</h4>
          <p>             
            Attention cigar lounge owners! Are you ready to showcase your
            establishment to a broader audience and captivate cigar
            enthusiasts worldwide? Look no further than our platform's premium
            feature: the ability to craft a tailor-made profile for your
            lounge.
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>         
          </p><br/>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-card-text"></i>
          <h4>Create Events and Special Offers</h4>
          <p>
            Elevate your establishment's allure and engage enthusiasts with
            our cutting-edge feature: intuitive event and offer management
            tools designed to captivate and entice your audience.
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </p><br/><br/>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-envelope-check"></i>
          <h4>Email Notifications</h4>
          <p>
            Enhance your member engagement and foster a sense of community
            with our sophisticated email notification feature. Keep your
            valued members informed, entertained, and eager to participate in
            your lounge's exclusive events and offers.
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-phone"></i>
          <h4>Text Notifications</h4>
          <p>
            Herf's text message notification service offers all the benefits
            of email in a text message format. All Event and Special Offer
            details, updates and cancellations are sent to your members
            device.
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </p><br/>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-graph-up-arrow"></i>
          <h4>Increase Engagement & Attendance</h4>
          <p>              
            The more informed your patrons are, the better. This leads to
            improved event turnout
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </p><br/>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-people"></i>
          <h4>Grow Your Community</h4>
          <p>       
            Lounges are a small community. Our BOTL and SOTL gather to enjoy
            good company and great cigars. Herf helps build and strengthen
            this Community with technology.
             <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#increaseEngagmentModal">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="faq" class="container pt-5 faq">
  <div class="section-title">
    <h2>F.A.Q</h2>
    <p>Frequently Asked Questions</p>
  </div>

  <% @faqs.each do |faq| %>
    <div class="row faq-item d-flex align-items-stretch">
      <div class="col-lg-5">
        <i class="bx bx-help-circle"></i>
        <h4><%= faq['question'] %></h4>
      </div>
      <div class="col-lg-7">
        <p>
          <%= faq['answer'] %>
        </p>
      </div>
    </div><!-- End F.A.Q Item-->
  <% end %>
</div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Build lounge modal -->
<!-- Modal -->
<div class="modal fade" id="buildLoungeModal" tabindex="-1" aria-labelledby="buildLoungeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-pencil-square fa-2xl"></i>
            <h4 class="pt-2">Build Your Lounge</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
              Take control of your lounge's online presence by crafting a
              profile that reflects its unique ambiance, offerings, and
              personality. From elegant decor to unparalleled cigar
              selections, highlight what sets your lounge apart and entices
              visitors to step into your world.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
              Take control of your lounge's online presence by crafting a
              profile that reflects its unique ambiance, offerings, and
              personality. From elegant decor to unparalleled cigar
              selections, highlight what sets your lounge apart and entices
              visitors to step into your world.          
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
              Capture the attention of cigar aficionados near and far with
              captivating visuals and compelling descriptions. Showcase your
              lounge's finest features, from cozy seating areas to exclusive
              events, enticing visitors to experience the luxury and
              camaraderie your lounge offers.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
              Unlock the potential of your lounge and join our community of
              esteemed cigar destinations. Sign up today to create a profile
              that elevates your lounge's presence, captivates cigar
              enthusiasts, and solidifies your status as a premier destination
              for luxury and relaxation.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Build Community modal -->
<div class="modal fade" id="buildCommunity" tabindex="-1" aria-labelledby="buildCommunityLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-people fa-2xl"></i>
            <h4 class="pt-2">Grow your Community</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
                Our comprehensive suite of features empowers cigar lounge owners
                to cultivate a vibrant and engaged community of enthusiasts.
                Seamlessly connect with members through personalized email and
                text notifications, keeping them informed and excited about
                upcoming events and exclusive offers. By crafting a compelling
                lounge profile and curating unforgettable experiences with our
                event creation tools, lounge owners can attract new patrons and
                strengthen bonds with existing members. Join us today and unlock
                the potential to grow your lounge community and create lasting
                connections with cigar aficionados.            
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Events Modal -->
<div class="modal fade" id="createEventsModal" tabindex="-1" aria-labelledby="createEventsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-card-text fa-2xl"></i>
            <h4 class="pt-2">Create Events and Special Offers</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
              Curate unforgettable experiences for your patrons with seamless
              event creation and management. From exclusive cigar tastings to
              live music nights, effortlessly plan and promote events that
              leave a lasting impression on attendees.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
              Attract cigar aficionados with enticing special offers and
              promotions tailored to their preferences. Showcase limited-time
              discounts, bundle deals, and VIP packages, enticing visitors to
              indulge in the luxury and hospitality your lounge provides.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Nurture lasting relationships with your patrons by providing
                them with exclusive access to curated events and irresistible
                offers. Cultivate a sense of community and loyalty among
                enthusiasts who appreciate the sophistication and camaraderie
                your lounge offers.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Unlock the potential of your lounge and ignite excitement among
                cigar enthusiasts. Sign up now to access our comprehensive event
                and offer management tools, and take your lounge to new heights
                of engagement, satisfaction, and success.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Email Notifications Modal -->
<div class="modal fade" id="emailNotificationsModal" tabindex="-1" aria-labelledby="emailNotificationsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-envelope-check fa-2xl"></i>
            <h4 class="pt-2">Email Notifications</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
                Ensure your members never miss out on the latest happenings at
                your lounge with timely event updates delivered directly to
                their email. From cigar tastings to live entertainment, keep
                them informed and excited about the exclusive experiences
                awaiting them.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Delight your members with exclusive special offers and
                promotions. From limited-time discounts to VIP access, entice
                them to indulge in the luxury and hospitality your lounge
                provides.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Nurture long-lasting relationships with your members by
                providing them with valuable, relevant content that enhances
                their lounge experience. Foster a sense of belonging and loyalty
                among enthusiasts who appreciate the sophistication and
                camaraderie your lounge offers.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Empower your lounge to connect with members on a deeper level
                and drive participation in your events and offers. Sign up now
                to access our email notification feature and start building
                stronger relationships with your valued patrons.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Text Notification Modal -->
<div class="modal fade" id="textNotificationModal" tabindex="-1" aria-labelledby="textNotificationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-phone fa-2xl"></i>
            <h4 class="pt-2">Text Notifications</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
                Take control of your lounge's communication strategy with our
                text notifications feature. Easily announce upcoming events,
                promotions, and special offers directly to your members' mobile
                devices, ensuring maximum visibility and attendance.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Effortlessly manage your lounge's events with our text messaging
                service. Notify members of event details, RSVP deadlines, and
                last-minute changes, minimizing no-shows and ensuring a smooth
                and successful gathering every time.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Build lasting relationships with your members by providing
                value-added services and experiences. Our text messaging feature
                strengthens member loyalty by keeping them informed, engaged,
                and excited about the opportunities your lounge offers.
            </li>
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check"></i></span>
                Transform the way you connect with your members and elevate
                their lounge experience with our text messaging service. Join
                the ranks of leading lounge owners who prioritize member
                engagement and loyalty. Sign up today to start reaping the
                benefits of enhanced communication and community-building.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Increase Engagement Modal -->
<div class="modal fade" id="increaseEngagmentModal" tabindex="-1" aria-labelledby="increaseEngagmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <i class="bi bi-graph-up-arrow fa-2xl"></i>
            <h4 class="pt-2">Increase Engagement & Attendance</h4>
          </div>
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="icon"><i class="far fa-circle-check mr-5"></i></span>
                Elevate your cigar lounge to new heights of engagement and
                attendance with our powerful suite of features. Seamlessly
                connect with members through personalized email and text
                notifications, ensuring they never miss out on upcoming events
                and special offers. Craft a captivating lounge profile that
                showcases your unique identity and entices visitors to step into
                your world. With intuitive event and special offer creation
                tools, create unforgettable experiences that drive engagement
                and foster a thriving community of enthusiasts. Join today and
                experience the difference in member engagement and attendance
                for your lounge.
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>