<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Herf</span></h2>
            <p class="animate__animated animate__fadeInUp">An event notification service, built specifically for the cigar community.</p>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Herf</span></h2>
            <p class="animate__animated animate__fadeInUp">An event notification service, built specifically for the cigar community.</p>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Herf</span></h2>
            <p class="animate__animated animate__fadeInUp">An event notification service, built specifically for the cigar community.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Hero -->
