<h3>Hi, <%= @member.first_name %></h3>

<p>
  Your membership with <%= @member.lounge.name %> has been cancelled. if you feel this has been done in error, please contact the lounge at: <%= @member.lounge.phone_number %> or
  <%= @member.lounge.email %>
</p>
